.box {
  min-height: 100vh;
  display: flex;
}

.left {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}

.right {
  padding: 30px;
}